<form action="/CanHo/AddCH" method="post">
 <label for="MaCH">Mã Căn Hộ: </label><input type="text" name="MaCH"
/><br>
 <label for="TenCH">Tên Căn Hộ: </label><input type="text" name="TenCH"
/><br>
 <input type="submit" name="submit" value="Thêm" id="them" />
</form>