@model List<NV_BTModel>
<table border="1">
    <tr>
        <th>Mã thiết bị</th>
        <th>Mã căn hộ</th>
        <th>Lần thứ</th>
        <th>Ngày bảo trì</th>
        <th>Chức năng</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.MaTB
        </td>
        <td>
            @item.MaCH
        </td>
         <td>
            @item.LanThu
        </td>
        <td>
            @item.NgayBT
        </td>
        <td>
            <a href='/NhanVien/XoaLanSua?MaNV=@item.MaNV&MaTB=@item.MaTB&MaCH=@item.MaCH&LanThu=@item.LanThu'>Delete</a>
                &nbsp; 
            <a href="/NV_BT/ViewLanSua?MaNV=@item.MaNV&MaTB=@item.MaTB&MaCH=@item.MaCH&LanThu=@item.LanThu&NgayBT=@item.NgayBT">View</a>
        </td>
    </tr>
    }
</table>
