@model List<NhanVienLietKeModel>
@{
    ViewData["Title"] = "Liệt số số lần sửa theo từng nhân viên";
}

<table border="1">
    <tr>
        <th>Tên Nhân Viên</th>
        <th>Số Điện Thoại</th>
        <th>Số Lần Sửa</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.TenNV
        </td>
        <td>
            @item.SoDT
        </td>
         <td>
            @item.SoLanSua
        </td>
    </tr>
    }
</table>
